name: Build

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "**"
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            10.x.x
            9.x.x

      - name: Restore dependencies
        run: dotnet restore FFXIV.Venues.Directory.sln

      - name: Download Dalamud
        run: |
          Invoke-WebRequest -Uri https://goatcorp.github.io/dalamud-distrib/stg/latest.zip -OutFile latest.zip
          Expand-Archive -Force latest.zip "$env:AppData\XIVLauncher\addon\Hooks\dev\"

      - name: Build
        run: dotnet build FFXIV.Venues.Directory.sln --no-restore --configuration Release --nologo -p:Platform=x64

      - name: Archive
        run: Compress-Archive -Path "FFXIV.Venues.Directory/bin/x64/Release/*" -DestinationPath FFXIV.Venues.Directory.zip

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: FFXIV.Venues.Directory-Release
          path: |
            ./FFXIV.Venues.Directory.zip
            ./FFXIV.Venues.Directory/bin/x64/Release/*

